---
import { SITE_INFO } from "../data/siteInfo";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="min-h-[70vh] flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8"
  >
    <h1
      class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-extrabold text-center mb-12 sm:mb-16 md:mb-20 lg:mb-24"
    >
      Get in touch
    </h1>
    <div class="w-full max-w-4xl flex justify-end">
      <ul class="space-y-4 sm:space-y-6 text-right">
        <li class="flex flex-col items-start justify-end">
          <span class="mb-1 sm:mb-0 sm:mr-2 text-lg sm:text-xl font-normal"
            >Instagram</span
          >
          <a
            href={`https://www.instagram.com/${SITE_INFO.instagram}`}
            class="hover:underline font-thin text-base sm:text-lg"
          >
            @{SITE_INFO.instagram}
          </a>
        </li>
        <li class="flex flex-col items-start justify-end">
          <span class="mb-1 sm:mb-0 sm:mr-2 text-lg sm:text-xl font-normal"
            >Phone</span
          >
          <a
            href={`tel:${SITE_INFO.phoneNumber}`}
            class="hover:underline font-thin text-base sm:text-lg"
          >
            {SITE_INFO.phoneNumber}
          </a>
        </li>
        <li class="flex flex-col items-start justify-end">
          <span class="mb-1 sm:mb-0 sm:mr-2 text-lg sm:text-xl font-normal"
            >Mail</span
          >
          <a
            href={`mailto:${SITE_INFO.email}`}
            class="hover:underline font-thin text-base sm:text-lg"
          >
            {SITE_INFO.email}
          </a>
        </li>
      </ul>
    </div>
  </section>
</Layout>
